body {
    font-family: Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #46618F;
}
header {
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    display: flex;
    
    
}
h1{
    text-align: center;
}
header a{
    
    text-decoration: none;
    color: #46618F;
    margin-right: 200px;
    margin-left: 100px;
}
header img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}
nav {
    margin-top: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
.banner {


    height: 600px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
background-position-x: center;
}
.banner img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .banner:hover img{
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
 }
.clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.cliente {
    margin: 10px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
   display: block;

}
.cliente img{
    margin-right: 70px;
    margin-left: 50px;
    margin-top: 90px;
    text-align: center;
    border: 2px solid #E45a00;

}




.quem-representamos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.representante {
    margin: 10px;
    padding: 20px;
    
 
    width: 300px;
    height: 400px;
}
.representante img{
    margin-top: 90px;
    border: 2px solid #E45a00;
    text-align: center;
}
.empresa {
    padding: 20px;
}
.contato {
    background-color: #000000;
    padding: 20px;
    text-align: center;
 
}
.contato img {
    width: 30px;
    margin: 0 5px;

}
.contato h2{
    color: #ffffff;
}
.contato p{
    color: #ffffff;
}

h2 p{
    text-align: center;
  background-color: #ffffff;
  width: 350px;
  position: relative;
  right: 600px;
  left: 650px;

}
