body {
    font-family: Arial, sans-serif;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #46618F;
}
header {

    background-color: #ffffff;
    color: #fff;
    padding: 1%;
    display: flex;
    font-size: large;
    
}
h1{
    font-family: cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    text-decoration: none;
    color: #E45a00;
}
header a{
    position: relative;
    text-decoration: none;
    color: #46618F;
    margin-right: 9%;
    margin-left: 9%;
    top: 20px;
}
header img {
    width: 11%;
    height: 11%;
    margin-right: 3%;
}

nav {
    margin-top: 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 3%;
    position: relative;
    top: 30px;
    left: 120%;
}


.banner {


    height: 20%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
    background-position-x: center;
}
.banner img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .banner:hover img{
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
 }
.clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.cliente {
    margin: 2%;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
   

}
.cliente img{
    -webkit-filter: brightness(70%);
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 25px;
    text-align: center;
    border: 2px solid #E45a00;

}
.cliente img:hover {
    -webkit-filter: brightness(100%);
    transition: 1s;
}


.quem-representamos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.representante {
    margin: 10px;
    padding: 20px;
    margin-right: 15%;
 
    width: 13%;
    height: 14%;
}
.representante img{
    -webkit-filter: brightness(70%);
    margin-top: 90px;
    border: 2px solid #E45a00;
    text-align: center;
}

.representante:hover img{
    -webkit-filter: brightness(100%);
    transition: 1s;
}


.empresa {
    padding: 20px;
}
.contato {
    background-color: #000000;
    padding: 15%;
    text-align: center;
 
}
.contato img {
    width: 30px;
    margin: 0 5px;

}
.contato h2{
    color: #ffffff;
}
.contato p{
    color: #ffffff;
}

h2 {
    text-align: center;

  width: 350px;
  position: relative;
 right: 50%;
  left: 40%;

}
